img.cardKatalog {
    width: 70%;
    margin-left: 19px;
    margin-top: 15px;
}

a, .row .col .card a{
    text-decoration: none;
}
.f-11 {
    font-size: 11px;
}
.f-15 {
    font-size: 15px;

}
#jumbotron {
    height: 400px;
    padding: 30px 0;
}

#jumbotron img,
.fade-item {
    border-radius: 30px;
}

#jumbotron img {
    width: 100%;
}

.fade-item {
    background-color: black;
    height: 340px;
    opacity: 0.7;
    width: 73%;
}

#judul-jumbotron {
    top: 260px;
}

.row {
    width: 100%;
}

#main {
    width: 80%;
}

.vertical-tengah {
    vertical-align: middle;
}